<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<head>
	<meta charset="utf-8">
	<title>Default page template</title>
	<link rel="stylesheet" type="text/css" href="../../Public/Stylesheets/style.css" media="all">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<f:layout name="Default"/>
<f:section name="Main">
    	<div id="content">
				<f:cObject typoscriptObjectPath="lib.colmain" />
		</div>
		<div class="footer grid flex">
            <f:cObject typoscriptObjectPath="lib.navigation" />
			<f:render partial="footer" section="Main" />
		</div>
    <div class="presentation">
        <a id="left-section" class="presentation next" title=""><span class="icon-left-arrow"></span> </a>
        <a id="right-section" class="presentation prev" title=""><span class="icon-right-arrow"></span></a>
    </div>
</f:section>
</body>
</html>